{% extends 'base.html.twig' %}
{% block title %}Popular Answers{% endblock %}
{% block body %}
    <div class="container my-md-4">
        <div class="d-flex justify-content-between">
            <h1>Most Popular Answers</h1>
            <form action="{{ path('app_popular_answers') }}">
                <input
                        type="search"
                        name="q"
                        value="{{ app.request.query.get('q') }}"
                        class="form-control"
                        placeholder="Search..."
                        aria-label="Search"
                >
            </form>
        </div>


    </div>
    <ul class="list-unstyled">
        {% for answer in answers %}
            <li>{{ answer.content|u.truncate(20, '..') }}</li>
            <li>{{ answer.votes }}</li>
        {% endfor %}
    </ul>
{% endblock %}