{% extends 'base.html.twig' %}

{% block title %}New Student{% endblock %}

{% block body %}
    <h1>Добавить нового студента</h1>

    {{ include('student/_form.html.twig') }}


    <a href="{{ path('student_index') }}">Назад к списку</a>
{% endblock %}
