{% extends 'base.html.twig' %}
{% block title %}Popular question{% endblock %}
{% block body %}

    <div class="container my-md-4">
    <div class="d-flex justify-content-between">
        <h1>Most Popular question</h1>
    </div>

<div class="container">
    <div class="row">
        {% for question in pager %}
            <div class="col-12 mb-3">
                <div style="box-shadow: 2px 3px 9px 4px rgba(0,0,0,0.04);">
                    <div class="q-container p-4">
                        {{ question.name }}
                        {{ question.question }}
                        <div class="row">
                            <div class="col-2 text-center">
                                {% for tag in question.tags %}
                                    <span class="badge rounded-pill bg-light text-dark">{{ tag.name }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        {{ pagerfanta(pager) }}
    </div>
</div>
{% endblock %}