{% extends 'base.html.twig' %}

{% block title %}Hello TimetableController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>



    <div class="bd-example">
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Время</th>
                    <th scope="col">Понедельник</th>
                    <th scope="col">Вторник</th>
                    <th scope="col">Среда</th>
                    <th scope="col">Четверг</th>
                    <th scope="col">Пятница</th>
                    <th scope="col">Суббота</th>
                    <th scope="col">Воскресенье</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">09-00 - 10-00</th>
                    <td>Ячейка</td>
                    <td>Ячейка</td>
                    <td>Ячейка</td>
                    <td>Ячейка</td>
                    <td>Ячейка</td>
                    <td>Ячейка</td>
                    <td>Ячейка</td>
{#                    <td>Ячейка</td>#}
{#                    <td>Ячейка</td>#}
                </tr>
                <tr>
                    <th scope="row">10-20 - 11-20</th>
                    <td>Ячейка</td>
                    <td>Ячейка</td>
                    <td>Ячейка</td>
                    <td>Ячейка</td>
                    <td>Ячейка</td>
                    <td>Ячейка</td>
                    <td>Ячейка</td>
{#                    <td>Ячейка</td>#}
{#                    <td>Ячейка</td>#}
                </tr>
                <tr>
                    <th scope="row">11-40 - 12-40</th>
                    <td>Ячейка</td>
                    <td>Ячейка</td>
                    <td>Ячейка</td>
                    <td>Ячейка</td>
                    <td>Ячейка</td>
                    <td>Ячейка</td>
                    <td>Ячейка</td>
{#                    <td>Ячейка</td>#}
{#                    <td>Ячейка</td>#}
                </tr>
                </tbody>
            </table>
        </div>
    </div>


{#<div class="example-wrapper">#}

{#    <div class="container">#}
{#        <div class="row row-cols-auto">#}
{#            <div class="col">Пн</div>#}
{#            <div class="col">Вт</div>#}
{#            <div class="col">Ср</div>#}
{#            <div class="col">Чт</div>#}
{#            <div class="col">Пт</div>#}
{#        </div>#}
{#    </div>#}
{#    <div class="container">#}
{#        <div class="row row-cols-auto">#}
{#            <div class="col">-</div>#}
{#            <div class="col">-</div>#}
{#            <div class="col">-</div>#}
{#            <div class="col">-</div>#}
{#            <div class="col">-</div>#}
{#        </div>#}
{#    </div>#}
{#    <div class="container">#}
{#        <div class="row row-cols-auto">#}
{#            <div class="col">2-</div>#}
{#            <div class="col">2-</div>#}
{#            <div class="col">2-</div>#}
{#            <div class="col">2-</div>#}
{#            <div class="col">2-</div>#}
{#        </div>#}
{#    </div>#}

{#    <h1>Hello {{ controller_name }}! ✅</h1>#}
{##}
{#    This friendly message is coming from:#}
{#    <ul>#}
{#        <li>Your controller at <code><a href="{{ '/home/developer/my_project_test/src/Controller/TimetableController.php'|file_link(0) }}">src/Controller/TimetableController.php</a></code></li>#}
{#        <li>Your template at <code><a href="{{ '/home/developer/my_project_test/templates/timetable/index.html.twig'|file_link(0) }}">templates/timetable/index.html.twig</a></code></li>#}
{#    </ul>#}
</div>
{% endblock %}
